{# templates/lucky/number.html.twig #}

{% extends 'gabarit.html.twig' %}

{% block title%} Gestion des Elèves | Accueil {% endblock %}

{% block main %}
<h3>Your lucky number is {{ number }}</h3>
{% endblock%}